[user]
  email = mchugh.r@gmail.com
  name = Ronan McHugh
[core]
  editor = vim
[push]
  default = simple
[color]
  ui = true
  co = checkout
  s = status
  ci = commit
  wc = whatchanged
  unstage = reset HEAD --
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  sshow = "!f() { git stash show stash^{/$*} -p; }; f"
  sapply = "!f() { git stash apply stash^{/$*}; }; f"
  st = status -sb
  dc = diff --cached
  slog = log --pretty=oneline --abbrev-commit -10
  logme = log --author=Ronan
  branch-name = rev-parse --abbrev-ref HEAD
  zpush = !git push -u origin `git branch-name`:romchugh-`git branch-name`
  fpush = push -f
  pushf = push -f
  amd = ci --amend -C @
  cim = ci -m
  cob = co -b
  tmp = ci -m tmp
  addu = add -u
  br = branch --sort=-committerdate
[diff]
	algorithm = histogram
[help]
	autocorrect = prompt
[commit]
	verbose = true
[column]
	ui = auto
[branch]
	sort = -committerdate
